.cache/
.idea/
build/
.DS_Store
*.tar.zst
zarf-sbom
tmp/
env.ts
node_modules
dist
insecure*
.env
zarf
tmp-tasks.yaml
cacert.b64
run/
extract-terraform.sh
**/.terraform*
cluster-config.yaml
**.tfstate

packages/frozen-dev/data
packages/frozen-dev/uds-frozen.tar
