.cache/
.idea/
build/**
.DS_Store
*.tar.zst
zarf-sbom
zarf-sbom/**
cve
cve/**
tmp/
env.ts
**/node_modules
**/node_modules/**
dist
**/dist/**
insecure*
.env
zarf
tmp-tasks.yaml
cacert.b64
run/
extract-terraform.sh
**/.terraform/**
**/.terraform*
cluster-config.yaml
**.tfstate

uds-docs/
uds-docs/**
**/uds-config.yaml

*.tar

**.backup
**/.playwright/**
**/.playwright
test-results/**

coverage/**

**/ca.crt
