# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

operator:
  ### DEPRECATED: This section is deprecated and will be removed in a future release. ###
  KUBEAPI_CIDR: ""
  KUBENODE_CIDRS: ""
  ### END DEPRECATED ###
  AUTHSERVICE_REDIS_URI: "###ZARF_VAR_AUTHSERVICE_REDIS_URI###"

cluster:
  attributes:
    clusterName: ""
    clusterTags: []
  caBundle:
    certs: "###ZARF_VAR_CA_BUNDLE_CERTS###"
    includeDoDCerts: "###ZARF_VAR_CA_BUNDLE_INCLUDE_DOD_CERTS###"
    includePublicCerts: "###ZARF_VAR_CA_BUNDLE_INCLUDE_PUBLIC_CERTS###"
  expose:
    # Note caCert is deprecated, use caBundle.certs instead
    caCert: "###ZARF_VAR_CA_CERT###"
    # Domain configuration (admin defaults to `admin.UDS_DOMAIN`)
    domain: "###ZARF_VAR_DOMAIN###"
    adminDomain: "###ZARF_VAR_ADMIN_DOMAIN###"
  policy:
    allowAllNsExemptions: "###ZARF_VAR_ALLOW_ALL_NS_EXEMPTIONS###"
  networking:
    kubeApiCIDR: ""
    kubeNodeCIDRs: []
