.pf-c-page__header {
  border-bottom: 1px solid #747474;
  backdrop-filter: blur(4px);
  background-color: rgba(2, 25, 40, 0.85) !important;
  z-index: 1;
}

.pf-c-page__header img {
  max-height: 55px;
  margin: 4px;
}

.pf-c-page,
.pf-c-page__main-section {
  background: none;
}

#page-sidebar {
  background-color: rgba(2, 25, 40, 0.85) !important;
  backdrop-filter: blur(4px);
}

body {
  background: #010d17 url(public/tech-bg.jpg) no-repeat center center fixed;
  color: #fff;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow-x: hidden;
}

.pf-c-content {
  color: #fff;
}

.pf-c-card {
  background: none;
  border: 0;
  margin: 30px auto;
}

.pf-c-card__title {
  align-content: flex-end;
}

.pf-c-page__main {
  backdrop-filter: blur(4px);
  background: rgb(10 10 10 / 20%);
  border-radius: 8px;
  color: #fff;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin: 20px;
}

.pf-c-card {
  backdrop-filter: blur(4px);
  background: rgb(10 10 10 / 20%);
  border-radius: 4px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.pf-c-form,
.pf-c-data-list__item {
  background-color: transparent;
  color: #fff;
}

.pf-c-button.pf-m-primary {
  background-color: transparent !important;
  background-image: linear-gradient(
    to bottom,
    rgb(95 110 173 / 10%) 0,
    hsl(203.05deg 100% 70.39% / 36%) 100%
  ) !important;
  border-color: #68c5ff !important;
  border-radius: 4px !important;
  color: #fff;
  text-transform: uppercase;
}

.pf-c-button.pf-m-primary:hover {
  background-image: linear-gradient(
    to top,
    rgb(95 110 173 / 28%) 0,
    hsl(203.05deg 100% 70.39% / 58%) 100%
  ) !important;
}

.pf-c-page__main a,
.pf-m-link {
  color: #68c5ff !important;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

.pf-c-button.pf-m-secondary {
  color: #68c5ff !important;
  border-color: #68c5ff90 !important;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
}

#spinner_screen svg {
  background-color: transparent !important;
}
