domain: "###ZARF_VAR_DOMAIN###"

# Stores Grafana's metadata, including dashboards, data sources, organizations, alerts, and other configurations. Required for HA mode.
postgresql:
  # The hostname of the external postgresql server ( does not include the port )
  host: ""
  # The name of the postgresql database Grafana will connect to.
  database: ""
  # The username used for authenticating to the external postgresql.
  user: ""
  # The password used for authenticating to the external postgresql.
  password: ""
  # SSL mode for the postgresql connection. Set to 'disable' if SSL is not required.
  ssl_mode: require
  # Port the postgresql is listening on
  port: 5432
  # Egress CIDR for external Postgres
  egressCidr: ""
  # Configure internal postgresql deployment
  internal:
    enabled: false
    remoteSelector: {}
    remoteNamespace: ""
