# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

loki:
  image:
    registry: registry1.dso.mil
    repository: ironbank/opensource/grafana/loki
    tag: 3.6.7
  podSecurityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsNonRoot: true
    runAsUser: 10001
  # -- The SecurityContext for Loki containers
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false
gateway:
  image:
    registry: registry1.dso.mil
    repository: ironbank/opensource/nginx/nginx-alpine
    tag: 1.29.5
memcached:
  image:
    repository: registry1.dso.mil/ironbank/opensource/memcached/memcached
    tag: 1.6.40

sidecar:
  image:
    repository: registry1.dso.mil/ironbank/kiwigrid/k8s-sidecar
    tag: 2.5.0
