# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

loki:
  image:
    registry: docker.io
    repository: grafana/loki
    tag: 3.5.1

gateway:
  image:
    registry: docker.io
    repository: nginxinc/nginx-unprivileged
    tag: 1.28-alpine

memcached:
  image:
    registry: docker.io
    repository: memcached
    tag: 1.6.38-alpine
