variables:
  - name: FLAVOR
    default: upstream

tasks:
  - name: standard-package
    description: "Create the UDS Core Zarf Package"
    actions:
      - task: pepr-build

      - description: "Create the UDS Core Standard Zarf Package"
        cmd: "uds zarf package create packages/standard --confirm --flavor ${FLAVOR}"

  - name: k3d-standard-bundle
    description: "Create the K3d-UDS Core Bundle"
    actions:
      - description: "Create the UDS Core Standard Bundle"
        cmd: "uds create bundles/k3d-standard --confirm --no-progress --architecture=${ZARF_ARCHITECTURE}"

  - name: istio-package
    description: "Create the UDS Core (Istio Only) Zarf Package"
    actions:
      - task: pepr-build

      - description: "Create the UDS Core Istio Zarf Package"
        cmd: "uds zarf package create packages/istio --confirm --flavor ${FLAVOR}"

  - name: k3d-istio-bundle
    description: "Create the K3d-UDS Core (Istio Only) Bundle"
    actions:
      - description: "Create the UDS Core Istio Only Bundle"
        cmd: "uds create bundles/k3d-istio --confirm --no-progress --architecture=${ZARF_ARCHITECTURE}"

  - name: single-package
    description: "Create a single Zarf Package, must set UDS_PKG environment variable"
    actions:
      - task: pepr-build

      - description: "Create the Pepr Zarf Package, if it exists"
        cmd: "uds zarf package create dist --confirm"

      - description: "Create the requested Zarf Package (must set UDS_PKG environment variable)"
        cmd: "uds zarf package create src/${UDS_PKG} --confirm --flavor ${FLAVOR}"

  - name: pepr-build
    description: "Build the UDS Core Pepr Module"
    actions:
      - description: "Build the UDS Core Pepr Module"
        cmd: |
          rm -fr dist
          npm ci
          npx pepr build
