includes:
  - common: https://raw.githubusercontent.com/defenseunicorns/uds-common/v0.13.1/tasks/create.yaml

variables:
  - name: FLAVOR
    default: upstream

  - name: REGISTRY1_PEPR_IMAGE
    # renovate: datasource=docker depName=registry1.dso.mil/ironbank/opensource/defenseunicorns/pepr/controller versioning=semver
    default: registry1.dso.mil/ironbank/opensource/defenseunicorns/pepr/controller:v0.36.0

  - name: LAYER

tasks:
  - name: standard-package
    description: "Create the UDS Core Zarf Package"
    actions:
      - task: pepr-build

      - description: "Create the UDS Core Standard Zarf Package"
        cmd: "uds zarf package create packages/standard --confirm --no-progress --flavor ${FLAVOR}"

  - name: core-base
    description: "Create the UDS Core Base Package"
    actions:
      - task: pepr-build

      - description: "Create the UDS Core Standard Zarf Package"
        cmd: "uds run create:single-layer --set FLAVOR=${FLAVOR} --set=layer=base"

  - name: k3d-standard-bundle
    description: "Create the K3d-UDS Core Bundle"
    actions:
      - description: "Create the UDS Core Standard Bundle"
        cmd: "uds create bundles/k3d-standard --confirm --no-progress --architecture=${ZARF_ARCHITECTURE}"

  - name: k3d-slim-dev-bundle
    description: "Create the slim dev bundle (Base and Identity)"
    actions:
      - description: "Create the slim dev bundle (Base and Identity)"
        cmd: "uds create bundles/k3d-slim-dev --confirm --no-progress --architecture=${ZARF_ARCHITECTURE}"

  # This task is a wrapper to support --set LAYER=identity-authorization
  - name: single-layer-callable
    actions:
      - task: single-layer
        with:
          layer: $LAYER

  - name: single-layer
    inputs:
      layer:
        default: base
        description: The UDS Core layer to build
    actions:
      - cmd: uds zarf package create packages/${{ index .inputs "layer" }} --confirm --no-progress --flavor ${FLAVOR}

  - name: pepr-build
    description: "Build the UDS Core Pepr Module"
    actions:
      - description: "Build the UDS Core Pepr Module"
        cmd: |
          if [ -n "${PEPR_CUSTOM_IMAGE}" ] ; then
            # e.g. PEPR_CUSTOM_IMAGE="pepr:dev uds run slim-dev"
            PEPR_OVERRIDE_IMAGE="--custom-image ${PEPR_CUSTOM_IMAGE}"
          elif [ "${FLAVOR}" = "registry1" ] ; then
            PEPR_OVERRIDE_IMAGE="--custom-image ${REGISTRY1_PEPR_IMAGE}"
          else
            PEPR_OVERRIDE_IMAGE=""
          fi
          rm -fr dist
          npm ci
          npx pepr build -z chart $PEPR_OVERRIDE_IMAGE
