includes:
  - utils: utils.yaml

variables:
  - name: VERSION
    description: "The version of the packages to deploy"
    # x-release-please-start-version
    default: "0.27.3"
    # x-release-please-end
  - name: FLAVOR
    default: upstream

tasks:
  - name: k3d-standard-bundle
    actions:
      - description: "Deploy the UDS Core Standard Bundle"
        cmd: uds deploy bundles/k3d-standard/uds-bundle-k3d-core-demo-${UDS_ARCH}-${VERSION}.tar.zst --confirm --no-progress

  - name: k3d-standard-bundle-ha
    actions:
      - description: "Deploy the UDS Core Standard Bundle"
        cmd: uds deploy bundles/k3d-standard/uds-bundle-k3d-core-demo-${UDS_ARCH}-${VERSION}.tar.zst --confirm --no-progress
        env:
          - UDS_CONFIG=bundles/k3d-standard/uds-ha-config.yaml

  - name: k3d-slim-dev-bundle
    actions:
      - description: "Deploy the UDS Core Slim Dev Only Bundle"
        cmd: uds deploy bundles/k3d-slim-dev/uds-bundle-k3d-core-slim-dev-${UDS_ARCH}-${VERSION}.tar.zst --confirm --no-progress

  - name: single-package
    actions:
      - description: "Deploy the Istio package, if UDS_PKG != istio"
        cmd: |
          if [ "${UDS_PKG}" != "istio" ]; then
            uds zarf package deploy build/zarf-package-uds-core-istio-${UDS_ARCH}.tar.zst --confirm --no-progress --components '*'
          fi
      - description: "Deploy the Pepr Module"
        cmd: |
          uds zarf package deploy build/zarf-package-pepr-uds-core-${UDS_ARCH}.tar.zst --confirm --no-progress --set UDS_SINGLE_TEST=true --set PEPR_SERVICE_MONITORS=false
      - description: "Deploy the requested Zarf Package (must set UDS_PKG environment variable)"
        cmd: uds zarf package deploy build/zarf-package-uds-core-${UDS_PKG}-${UDS_ARCH}.tar.zst --confirm --no-progress --components '*'

  - name: latest-package-release
    actions:
      - task: utils:determine-repo
      - description: "Get latest tag version from OCI"
        cmd: uds zarf tools registry ls ${TARGET_REPO}/core | grep ${FLAVOR} | sort -V | tail -1
        setVariables:
          - name: LATEST_VERSION
      - description: "Deploy the latest UDS Core package release"
        cmd: uds zarf package deploy oci://${TARGET_REPO}/core:${LATEST_VERSION} --confirm --no-progress --components '*'

  - name: standard-package
    actions:
      - description: "Deploy the standard UDS Core zarf package"
        cmd: uds zarf package deploy build/zarf-package-core-${UDS_ARCH}-${VERSION}.tar.zst --confirm --no-progress --components '*'
