tasks:
  - name: create-k3d-cluster
    actions:
      - description: "Create the K3d cluster"
        # renovate: datasource=github-tags depName=defenseunicorns/uds-k3d versioning=semver
        cmd: "uds zarf package deploy oci://defenseunicorns/uds-k3d:0.9.0 --confirm --no-progress"

  - name: k3d-test-cluster
    actions:
      - task: create-k3d-cluster

      - description: "Initialize the cluster with Zarf"
        # renovate: datasource=github-tags depName=zarf-dev/zarf versioning=semver
        cmd: "uds zarf package deploy oci://ghcr.io/zarf-dev/packages/init:v0.40.1 --confirm --no-progress"
