tasks:
  - name: create-k3d-cluster
    actions:
      - description: "Create the K3d cluster"
        # renovate: datasource=github-tags depName=defenseunicorns/uds-k3d versioning=semver
        cmd: "uds zarf package deploy oci://defenseunicorns/uds-k3d:0.3.1 --confirm"

  - name: k3d-test-cluster
    actions:
      - task: create-k3d-cluster

      - description: "Initialize the cluster with Zarf"
        # renovate: datasource=github-tags depName=defenseunicorns/init versioning=semver
        cmd: "uds zarf package deploy oci://defenseunicorns/init:v0.32.1 --confirm"
