# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

# Overwritten by ci-iac-aws package
options:
  architecture: amd64

variables:
  core:
    loki_chunks_bucket: ${ZARF_VAR_LOKI_S3_BUCKET}
    loki_ruler_bucket: ${ZARF_VAR_LOKI_S3_BUCKET}
    loki_admin_bucket: ${ZARF_VAR_LOKI_S3_BUCKET}
    loki_s3_region: ${ZARF_VAR_LOKI_S3_AWS_REGION}
    loki_irsa_role_arn: ${ZARF_VAR_LOKI_S3_ROLE_ARN}
    velero_use_secret: false
    velero_irsa_role_arn: "${ZARF_VAR_VELERO_S3_ROLE_ARN}"
    velero_bucket: ${ZARF_VAR_VELERO_S3_BUCKET}
    velero_bucket_region: ${ZARF_VAR_VELERO_S3_AWS_REGION}
    velero_bucket_provider_url: ""
    velero_bucket_credential_name: ""
    velero_bucket_credential_key: ""
