# Copyright 2025 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

{{- if .Values.logoutConfirmation }}
# Enforce logout confirmation by renaming `post_logout_redirect_uri` to `uds_post_logout_redirect_uri` on logout URLs
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: enforce-logout-confirmation
  namespace: istio-system
spec:
  configPatches:
    - applyTo: HTTP_FILTER
      match:
        context: GATEWAY
        listener:
          filterChain:
            filter:
              name: envoy.filters.network.http_connection_manager
      patch:
        operation: INSERT_BEFORE
        value:
          name: envoy.filters.http.lua
          typed_config:
            "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
            inlineCode: |
              function envoy_on_request(request_handle)
                local headers = request_handle:headers()
                local path = headers:get(":path")
                local host = headers:get(":authority")

                if not host then
                  return
                end

                if not path then
                  return
                end

                -- Only apply to Keycloak hosts.
                -- Note that the :authority header may include a port, so we use string.find
                -- local is_keycloak_host = string.find(host, "sso.{{ .Values.domain }}") or string.find(host, "keycloak.{{ tpl .Values.adminDomain . }}")
                local is_keycloak_host = string.find(host, "sso.uds.dev") or string.find(host, "keycloak.admin.uds.dev")
                if not is_keycloak_host then
                  return
                end

                -- Only process OIDC logout endpoint requests
                if not string.find(path, "/protocol/openid%-connect/logout") then
                  return
                end

                -- Split the path into the portion before '?' and the raw query string
                -- 'query' is an empty string when no '?' present
                local path_only, query = string.match(path, "^([^?]*)%??(.*)$")

                -- No query string => nothing to strip
                if #query == 0 then
                  return
                end

                -- Keycloak displays a logout confirmation only when it doesn't end up with a redirect.
                -- We rename the OIDC "post_logout_redirect_uri" to a custom name - "uds_post_logout_redirect_uri"
                -- This prevents Keycloak from executing the redirect automatically and gives UDS a chance
                -- to show a confirmation page first.
                local new_query = string.gsub(query, "post_logout_redirect_uri=", "uds_post_logout_redirect_uri=")
                local new_path = (#new_query > 0) and (path_only .. "?" .. new_query) or path_only

                -- Only rewrite when something actually changed
                if new_path ~= path then
                  headers:replace(":path", new_path)
                end
              end
{{- end }}
