# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "keycloak.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "keycloak.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.statefulsetLabels }}
    {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 4 }}
    {{- end }}
spec:
  selector:
    matchLabels:
      {{- include "keycloak.selectorLabels" . | nindent 6 }}
  serviceName: {{ include "keycloak.fullname" . }}-headless
  podManagementPolicy: OrderedReady
  updateStrategy:
    type: {{ .Values.updateStrategy }}
  template:
    metadata:
      labels:
        {{- include "keycloak.selectorLabels" . | nindent 8 }}
        {{- range $key, $value := .Values.podLabels }}
        {{- printf "%s: %s" $key (tpl $value $ | quote) | nindent 8 }}
        {{- end }}
        istio.io/use-waypoint: {{ include "keycloak.fullname" . }}-waypoint
        istio.io/ingress-use-waypoint: "true"
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if not .Values.devMode }}
        postgres-hash: {{ include (print $.Template.BasePath "/secret-postgresql.yaml") . | sha256sum }}
        kc-realm-hash: {{ include (print $.Template.BasePath "/secret-kc-realm.yaml") . | sha256sum }}
        {{- end }}
    spec:
      securityContext:
      {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: uds-config
          image: "{{ .Values.configImage }}"
          securityContext:
            runAsUser: 65532
            runAsGroup: 65532
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
          volumeMounts:
            - name: providers
              mountPath: /opt/keycloak/providers
            - name: data
              mountPath: /opt/keycloak/data
            - name: themes
              mountPath: /opt/keycloak/themes
            - name: conf
              mountPath: /opt/keycloak/conf
            {{- if .Values.themeCustomizations }}
            - name: theme-overrides
              mountPath: /opt/keycloak/theme-overrides
            {{- end }}
          envFrom:
            - secretRef:
                name: {{ include "keycloak.fullname" . }}-realm-env
        {{- if .Values.migrations.deleteGeneratedTrustStore }}
        - name: remove-generated-truststore
          image: "{{ .Values.configImage }}"
          command: ["sh", "-c", "rm -rf /opt/keycloak/data/keycloak-truststore.p12 ; ls -la /opt/keycloak/data"]
          securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
          volumeMounts:
            - name: data
              mountPath: /opt/keycloak/data
        {{- end }}
      containers:
        - name: keycloak
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
          {{- toYaml .Values.securityContext | nindent 12 }}
          command:
            - "/opt/keycloak/bin/kc.sh"
          args:
            {{- if .Values.devMode }}
            - "start-dev"
            # Do not cache themes in dev mode to support hot-reloading
            - "--spi-theme-static-max-age=-1"
            - "--spi-theme-cache-themes=false"
            - "--spi-theme-cache-templates=false"
            {{- else }}
            - "start"
            {{- end }}
            # This will only import the realm if it does not exist
            - "--import-realm"
            # FIPS Mode
            {{- if .Values.fips }}
            # Full configuration might be found at https://www.keycloak.org/server/fips
            - "--features=preview,fips"
            - "--fips-mode=strict"
            {{- if .Values.fipsAllowWeakPasswords}}
            # These switches enable the shorter passwords, which do not break FIPS compliance.
            # See https://github.com/keycloak/keycloak/blob/2aaf9ac00868370ee23f49cfecb5d508f40dbee8/testsuite/integration-arquillian/tests/base/src/main/java/org/keycloak/testsuite/arquillian/containers/AbstractQuarkusDeployableContainer.java#L439-L441
            - "--spi-password-hashing-pbkdf2-max-padding-length=14"
            - "--spi-password-hashing-pbkdf2-sha256-max-padding-length=14"
            - "--spi-password-hashing-pbkdf2-sha512-max-padding-length=14"
            {{- end }}
            {{- else }}
            - "--features=preview"
            {{- end }}
            {{- if .Values.truststorePaths }}
            - "--truststore-paths={{ join "," .Values.truststorePaths }}"
            {{- end }}
            - "--spi-authentication-sessions--map--auth-sessions-limit={{ .Values.realmConfig.maxInFlightLoginsPerUser | default 300 }}"
            - "--proxy-headers=xforwarded"
            - "--http-enabled=true"
            - "--hostname-strict=false"
            - "--hostname-backchannel-dynamic=true"
            {{- if .Values.useFixedHostname }}
            - "--hostname=https://sso.{{ .Values.domain }}"
            - "--hostname-admin=https://keycloak.{{ tpl .Values.adminDomain . }}"
            {{- end }}
            {{- if .Values.jsonLogFormat }}
            - "--log-console-output=json"
            {{- end }}
            {{- if gt (int .Values.httpRetry.maxRetries) 0 }}
            # HTTP retry configuration for outgoing requests
            - "--spi-connections-http-client-default-max-retries={{ .Values.httpRetry.maxRetries }}"
            - "--spi-connections-http-client-default-initial-backoff-millis={{ .Values.httpRetry.initialBackoffMillis }}"
            - "--spi-connections-http-client-default-backoff-multiplier={{ .Values.httpRetry.backoffMultiplier }}"
            {{- if not .Values.httpRetry.applyJitter }}
            - "--spi-connections-http-client-default-apply-jitter=false"
            {{- end }}
            {{- if .Values.httpRetry.applyJitter }}
            - "--spi-connections-http-client-default-jitter-factor={{ .Values.httpRetry.jitterFactor }}"
            {{- end }}
            {{- end }}
          {{- with .Values.lifecycleHooks }}
          lifecycle:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          envFrom:
            - secretRef:
                name: {{ include "keycloak.fullname" . }}-realm-env
          env:
          {{- if .Values.env }}
            {{- tpl (toYaml .Values.env) . | nindent 12 }}
          {{- end }}
            {{- if or (contains "rfcurated" .Values.image.repository) (contains "rfcurated" (toString .Values.image.tag)) }}
            # Ensure javaagent is disabled (only for rfcurated unicorn flavor)
            - name: JDK_JAVA_OPTIONS
              value: "--add-exports=java.base/sun.security.internal.spec=ALL-UNNAMED --add-exports=java.base/sun.security.provider=ALL-UNNAMED"
            {{- end }}
            # Common configuration
            - name: UDS_DOMAIN
              value: "{{ .Values.domain }}"
            - name: UDS_ADMIN_DOMAIN
              value: "{{ tpl .Values.adminDomain . }}"

            # Enable health and metrics endpoints
            - name: KC_HEALTH_ENABLED
              value: "true"
            - name: KC_METRICS_ENABLED
              value: "true"

            # @lulaStart e4ea044c-75fc-4acc-a552-8bba2aab1b12
            - name: KC_EVENT_METRICS_USER_ENABLED
              value: "true"
            # @lulaEnd e4ea044c-75fc-4acc-a552-8bba2aab1b12

            # Enable access log
            - name: QUARKUS_HTTP_ACCESS_LOG_ENABLED
              value: "true"
            # @lulaStart e4ea044c-75fc-4acc-a552-8bba2aab1b12
            {{- if .Values.detailedObservability.logging.enabled }}
            - name: KC_SPI_EVENTS_LISTENER__JBOSS_LOGGING__SUCCESS_LEVEL
              value: "info"
            - name: KC_SPI_EVENTS_LISTENER__JBOSS_LOGGING__SANITIZE
              value: "true"
            - name: KC_SPI_EVENTS_LISTENER__JBOSS_LOGGING__INCLUDE_REPRESENTATION
              value: "true"
            {{- end }}
            # @lulaEnd e4ea044c-75fc-4acc-a552-8bba2aab1b12
            # X509 configuration
            - name: KC_HTTPS_CLIENT_AUTH
              value: request

            # Escape Slashes in Group Names
            - name: KC_SPI_GROUP__JPA__ESCAPE_SLASHES_IN_GROUP_PATH
              value: "true"

            ## Activate the nginx provider
            - name: KC_SPI_X509CERT_LOOKUP__PROVIDER
              value: {{ .Values.x509LookupProvider }}
            # Set nginx provider header name
            - name: KC_SPI_X509CERT_LOOKUP__{{ .Values.x509LookupProvider | upper }}__SSL_CLIENT_CERT
              value: istio-mtls-client-certificate
            # Dumb value (not used in the nginx provider, but required by the SPI)
            - name: KC_SPI_X509CERT_LOOKUP__{{ .Values.x509LookupProvider | upper }}__SSL_CLIENT_CERT_CHAIN_PREFIX
              value: UNUSED
            # Below 3 settings are a workaround for https://github.com/keycloak/keycloak/issues/43589
            # After Keycloak 26.6.0 release, they should be removed
            - name: QUARKUS_SHUTDOWN_DELAY_ENABLED
              value: "true"
            - name: QUARKUS_SHUTDOWN_DELAY
              value: "5"
            - name: QUARKUS_SHUTDOWN_TIMEOUT
              value: "5"
          {{- if or .Values.devMode .Values.debugMode }}
            # Enable debug logs
            - name: KC_LOG_LEVEL
              value: DEBUG
            - name: QUARKUS_LOG_CATEGORY__ORG_APACHE_HTTP__LEVEL
              value: DEBUG
            - name: QUARKUS_HTTP_ACCESS_LOG_PATTERN
              value: long
            - name: QUARKUS_LOG_CATEGORY__ORG_KEYCLOAK_SERVICES_X509__LEVEL
              value: TRACE
            # Crypto information, primarily for FIPS debugging
            - name: QUARKUS_LOG_CATEGORY__ORG_KEYCLOAK_COMMON_CRYPTO__LEVEL
              value: TRACE
            - name: QUARKUS_LOG_CATEGORY__ORG_KEYCLOAK_CRYPTO__LEVEL
              value: TRACE
          {{- end }}
          {{- if .Values.devMode }}
            # https://github.com/keycloak/keycloak/issues/39046
            # Starting from 26.2.0, Keycloak doesn't use password for the internal H2 database.
            # This breaks upgrade scenarios, so we need to use the same password as in 26.1.x
            - name: KC_DB_USERNAME
              value: sa
            - name: KC_DB_PASSWORD
              value: password
          {{- end }}
          {{- if .Values.autoscaling.enabled }}
          {{- if ne (include "keycloak.postgresql.config" .) "true" -}}
              {{- fail "You must configure PostgreSQL when using Autoscaling (HA Mode)" -}}
          {{- end -}}
            # Use Infinispan distributes caches
            - name: KC_CACHE
              value: ispn
            # Hints Infinispan to distribute data across machines in a Multi AZ environment
            - name: KC_SPI_CACHE_EMBEDDED__DEFAULT__MACHINE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
                  apiVersion: v1
            # Since we use sticky sessions managed by Istio, we assign our cookie ("keycloak-session"), and we do not use AUTH_SESSION_ID.
            # This means this option has to be always false.
            # See https://www.keycloak.org/server/reverseproxy#_enable_sticky_sessions
            - name: KC_SPI_STICKY_SESSION_ENCODER__INFINISPAN__SHOULD_ATTACH_ROUTE
              value: "false"
            # Rely on Istio mTLS encryption
            # See https://www.keycloak.org/server/caching#_running_inside_a_service_mesh
            - name: KC_CACHE_EMBEDDED_MTLS_ENABLED
              value: "false"
          {{- end }}
          {{- if eq (include "keycloak.postgresql.config" .) "true" }}
            # Postgres database configuration
            - name: KC_DB
              value: postgres
            # PostgreSQL configuration
            - name: KC_DB_URL_HOST
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.postgresql.host.secretName" . }}
                  key: {{ include "keycloak.postgresql.host.secretKey" . }}
            - name: KC_DB_URL_PORT
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}-postgresql
                  key: port
            - name: KC_DB_URL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}-postgresql
                  key: database
            - name: KC_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.postgresql.username.secretName" . }}
                  key: {{ include "keycloak.postgresql.username.secretKey" . }}
            - name: KC_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.postgresql.password.secretName" . }}
                  key: {{ include "keycloak.postgresql.password.secretKey" . }}
          {{- end }}
          {{- if .Values.insecureAdminPasswordGeneration.enabled }}
            - name: KEYCLOAK_ADMIN
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}-admin-password
                  key: username
            - name: KEYCLOAK_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "keycloak.fullname" . }}-admin-password
                  key: password
          {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: tcp
              containerPort: 7800
              protocol: TCP
            - name: tcp-fd
              containerPort: 57800
              protocol: TCP
            - name: metrics
              containerPort: 9000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health/live
              port: metrics
              scheme: HTTP
            failureThreshold: 3
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: metrics
              scheme: HTTP
            failureThreshold: 3
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /health/started
              port: metrics
              scheme: HTTP
            failureThreshold: 600
            periodSeconds: 1
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: providers
              mountPath: /opt/keycloak/providers
            - name: data
              mountPath: /opt/keycloak/data
            - name: themes
              mountPath: /opt/keycloak/themes
            - name: conf
              mountPath: /opt/keycloak/conf
              readOnly: true
            - name: client-secrets
              mountPath: /var/run/secrets/uds/client-secrets
            {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      enableServiceLinks: {{ .Values.enableServiceLinks }}
      restartPolicy: {{ .Values.restartPolicy }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- tpl . $ | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      volumes:
        - name: client-secrets
          secret:
            secretName: {{ include "keycloak.fullname" . }}-client-secrets
        - name: providers
          {{- if .Values.persistence.providers.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "keycloak.fullname" . }}-providers
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: conf
          {{- if .Values.persistence.conf.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "keycloak.fullname" . }}-conf
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: data
          {{- if or .Values.persistence.data.enabled .Values.devMode }}
          # devMode enables this PVC by default to preserve legacy behavior
          persistentVolumeClaim:
            claimName: {{ include "keycloak.fullname" . }}-data
          {{- else }}
          emptyDir: {}
          {{- end }}
        - name: themes
          {{- if or .Values.persistence.themes.enabled .Values.devMode }}
          # devMode enables this PVC by default to preserve legacy behavior
          persistentVolumeClaim:
            claimName: {{ include "keycloak.fullname" . }}-themes
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- if .Values.themeCustomizations }}
        - name: theme-overrides
          projected:
            sources:
              {{- if and .Values.themeCustomizations.resources .Values.themeCustomizations.resources.images }}
              {{- range $image := .Values.themeCustomizations.resources.images }}
              {{- if $image.configmap.name }}
              - configMap:
                  name: {{ $image.configmap.name }}
                  items:
                    - key: {{ $image.name }}
                      path: {{ $image.name }}
              {{- end }}
              {{- end }}
              {{- end }}
              {{- if and .Values.themeCustomizations.termsAndConditions .Values.themeCustomizations.termsAndConditions.text }}
              {{- if .Values.themeCustomizations.termsAndConditions.text.configmap }}
              {{- with .Values.themeCustomizations.termsAndConditions.text.configmap }}
              - configMap:
                  name: {{ .name }}
                  items:
                    - key: {{ .key }}
                      path: tc.txt
              {{- end }}
              {{- else if .Values.themeCustomizations.termsAndConditions.text.inline }}
              - configMap:
                  name: {{ include "keycloak.fullname" . }}-terms-and-conditions
                  items:
                    - key: tc_text
                      path: tc.txt
              {{- end }}
              {{- end }}
        {{- end }}
        {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
