# Copyright 2025 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-waypoint-config
  namespace: {{ .Release.Namespace }}
data:
  {{- with .Values.waypoint.deployment }}
  deployment: |
    spec:
      template:
        spec:
          containers:
          - name: istio-proxy
            resources:
              requests:
                cpu: {{ .requests.cpu }}
                memory: {{ .requests.memory }}
              limits:
                cpu: {{ .limits.cpu }}
                memory: {{ .limits.memory }}
          {{- if .nodeSelector }}
          nodeSelector:
            {{- toYaml .nodeSelector | nindent 12 }}
          {{- end }}
          {{- if .tolerations }}
          tolerations:
            {{- toYaml .tolerations | nindent 12 }}
          {{- end }}
          {{- if .affinity }}
          affinity:
            {{- toYaml .affinity | nindent 12 }}
          {{- end }}
          {{- if .topologySpreadConstraints }}
          topologySpreadConstraints:
            {{- toYaml .topologySpreadConstraints | nindent 12 }}
          {{- end }}
          {{- if .priorityClassName }}
          priorityClassName: {{ .priorityClassName }}
          {{- end }}
  {{- end }}
  {{- if .Values.waypoint.horizontalPodAutoscaler.enabled }}
  {{- with .Values.waypoint.horizontalPodAutoscaler }}
  horizontalPodAutoscaler: |
    spec:
      {{- if $.Values.autoscaling.enabled }}
      minReplicas: {{ $.Values.autoscaling.minReplicas }}
      {{- else }}
      {{ with .minReplicas }}minReplicas: {{ . }}{{- end }}
      {{- end }}
      {{ with .maxReplicas }}maxReplicas: {{ . }}{{- end }}
      {{- if .metrics }}
      metrics:
        {{- toYaml .metrics | nindent 8 }}
      {{- end }}
      {{- if .behavior }}
      behavior:
        {{- toYaml .behavior | nindent 8 }}
      {{- end }}
  {{- end }}
  {{- end }}
