# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

{{- $domain := tpl .Values.domain . }}
{{- $rootTLS := .Values.rootDomainTLS | default dict -}}
{{- $rootMode := $rootTLS.mode | default ($.Values.tls.mode | default "SIMPLE") -}}
{{- $rootSupportTLS := $rootTLS.supportTLSV1_2 | default ($.Values.tls.supportTLSV1_2 | default true) -}}
{{- if .Values.tls }}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: {{ .Values.name }}-gateway
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Values.name }}-ingressgateway
  servers:
    {{ range $name,$server := .Values.tls.servers }}
    - hosts:
        {{- range $server.hosts | default (list "*") }}
        - "{{ . }}.{{ $domain }}"
        {{- end }}
      port:
        name: "http-{{ $name }}"
        number: 80
        protocol: HTTP
      tls:
        httpsRedirect: true
    - hosts:
        {{- range $server.hosts | default (list "*") }}
        - "{{ . }}.{{ $domain }}"
        {{- end }}
      port:
        name: "https-{{ $name }}"
        number: 443
        protocol: HTTPS
      tls:
        mode: {{ $server.mode }}
        {{- if ne $server.mode "PASSTHROUGH" }}
        credentialName: {{ $.Values.tls.credentialName | default "gateway-tls" | quote }}
        # if supportTLSV1_2 is both defined and true, use TLSV1_2, otherwise use TLSV1_3
        minProtocolVersion: {{ if $.Values.tls.supportTLSV1_2 }}TLSV1_2{{ else }}TLSV1_3{{ end }}
        {{- end }}
    {{ end }}
    {{- if .Values.enableRootDomain }}
    - hosts:
        - "{{ $domain }}"
      port:
        name: "http-root-domain"
        number: 80
        protocol: HTTP
      tls:
        httpsRedirect: true
    - hosts:
        - "{{ $domain }}"
      port:
        name: "https-root-domain"
        number: 443
        protocol: HTTPS
      tls:
        mode: {{ $rootMode | quote }}
        {{- if ne $rootMode "PASSTHROUGH" }}
        credentialName: {{ $rootTLS.credentialName | default "root-domain-tls" | quote }}
        minProtocolVersion: {{ if $rootSupportTLS }}TLSV1_2{{ else }}TLSV1_3{{ end }}
        {{- end }}
    {{- end }}
{{ end }}
