# Copyright 2026 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

# This secret is created/managed by the UDS Core Operator
configExistingSecretName: uds-prometheus-blackbox-config

# Security contexts (UDS Core requirements)
podSecurityContext:
  runAsNonRoot: true
  runAsUser: 65534
  fsGroup: 65534
  seccompProfile:
    type: RuntimeDefault

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL

# Resource limits (UDS Core requirements)
resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

# ServiceMonitor configuration
serviceMonitor:
  selfMonitor:
    enabled: true
    interval: 30s

podAnnotations:
  ambient.istio.io/dns-capture: "false" # enables Probes to leave the mesh for DNS resolution/network path

# Config reloader
configReloader:
  enabled: true

# Mount UDS Core Trust Bundle
extraVolumes:
  - name: ca-certs
    configMap:
      name: uds-trust-bundle
      optional: true

extraVolumeMounts:
  - name: ca-certs
    mountPath: /etc/ssl/certs/ca-bundle.pem
    subPath: ca-bundle.pem
    readOnly: true
