# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

alertmanager:
  alertmanagerSpec:
    image:
      registry: cgr.dev
      repository: du-uds-defenseunicorns/prometheus-alertmanager-fips
      tag: 0.27.0
kube-state-metrics:
  image:
    registry: cgr.dev
    repository: du-uds-defenseunicorns/kube-state-metrics-fips
    tag: 2.14.0
  securityContext:
    enabled: true
    fsGroup: 65532
    runAsGroup: 65532
    runAsNonRoot: true
    runAsUser: 65532
prometheus:
  prometheusSpec:
    image:
      registry: cgr.dev
      repository: du-uds-defenseunicorns/prometheus-fips
      tag: 3.0.1
prometheus-node-exporter:
  image:
    registry: cgr.dev
    repository: du-uds-defenseunicorns/prometheus-node-exporter-fips
    tag: 1.8.2
prometheusOperator:
  admissionWebhooks:
    containerSecurityContext:
      capabilities:
        drop:
          - ALL
    patch:
      enabled: true
      image:
        registry: cgr.dev
        repository: du-uds-defenseunicorns/kube-webhook-certgen-fips
        tag: 1.11.3
      registry: cgr.dev
      repository: du-uds-defenseunicorns/kube-webhook-certgen-fips
      tag: 1.10.1
      securityContext:
        runAsGroup: 65532
        runAsNonRoot: true
        runAsUser: 65532
  image:
    registry: cgr.dev
    repository: du-uds-defenseunicorns/prometheus-operator-fips
    tag: 0.79.1
  prometheusConfigReloader:
    image:
      registry: cgr.dev
      repository: du-uds-defenseunicorns/prometheus-config-reloader-fips
      tag: 0.79.1
