apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: velero
  namespace: {{ .Release.Namespace }}
spec:
  istioAmbient: true
  network:
    allow:
      # Todo: wide open for now for pushing to s3
      - direction: Egress
        selector:
          app.kubernetes.io/name: velero
        remoteGenerated: Anywhere

      - direction: Egress
        selector:
          batch.kubernetes.io/job-name: "velero-upgrade-crds"
        remoteGenerated: KubeAPI

      - direction: Ingress
        remoteNamespace: monitoring
        remoteSelector:
          app: prometheus
        selector:
          app.kubernetes.io/name: velero
        port: 8085
        description: "Prometheus Metrics"
