image:
  repository: registry1.dso.mil/ironbank/opensource/keycloak/keycloak
  tag: "23.0.4"
podSecurityContext:
  fsGroup: 2000
securityContext:
  runAsUser: 2000
  runAsGroup: 2000
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL
# configImage: registry1.dso.mil/opensource/defense-unicorns/uds-identity-config:x.x.x
