# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

podSecurityContext:
  fsGroup: 1000
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true
  capabilities:
    drop:
      - ALL
image:
  repository: quay.io/rfcurated/keycloak
  tag: "26.5.0-jammy-fips-rfcurated"

migrations:
  deleteGeneratedTrustStore: true
