# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

podSecurityContext:
  fsGroup: 1000
image:
  repository: quay.io/keycloak/keycloak
  tag: "26.5.2"
