# image:
#   repository: registry1.dso.mil/ironbank/opensource/kubernetes-sigs/metrics-server
#   tag: "v0.6.3"

readinessProbe:
  httpGet:
    path: /readyz
    port: https
    scheme: HTTPS
  initialDelaySeconds: 10
  periodSeconds: 5
  failureThreshold: 5
