# Copyright 2024-2026 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

# Setup RBAC for Pepr
rbac:
  # Configmaps and Secrets
  - apiGroups:
      - ''
    resources:
      - configmaps
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - watch

  # Endpoints and events
  - apiGroups:
      - ''
    resources:
      - endpoints
      - events
    verbs:
      - create
      - delete
      - get
      - list
      - patch

  # Namespaces
  - apiGroups:
      - ''
    resources:
      - namespaces
    verbs:
      - create
      - get
      - list
      - patch

  # Services
  - apiGroups:
      - ''
    resources:
      - services
    verbs:
      - get
      - list
      - patch
      - watch

  # Pods
  - apiGroups:
      - ''
    resources:
      - pods
    verbs:
      - delete
      - get
      - list
      - patch

  # Pod eviction subresource
  - apiGroups:
      - ''
    resources:
      - pods/eviction
    verbs:
      - create

  # Nodes
  - apiGroups:
      - ''
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch

  # Discovery API resources
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - get
      - list
      - watch

  # Pepr store resources
  - apiGroups:
      - pepr.dev
    resources:
      - peprstores
    verbs:
      - create
      - get
      - list
      - patch
      - watch

  # Apps API resources
  - apiGroups:
      - apps
    resources:
      - daemonsets
      - deployments
      - replicasets
      - statefulsets
    verbs:
      - get
      - list
      - patch

  # Networking API resources
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - create
      - delete
      - get
      - list
      - patch

  # Gateway API resources
  - apiGroups:
      - gateway.networking.k8s.io
    resources:
      - gateways
    verbs:
      - create
      - delete
      - get
      - list
      - patch

  # Istio security resources
  - apiGroups:
      - security.istio.io
    resources:
      - authorizationpolicies
      - requestauthentications
    verbs:
      - create
      - delete
      - get
      - list
      - patch

  # Istio networking resources
  - apiGroups:
      - networking.istio.io
    resources:
      - destinationrules
      - gateways
      - serviceentries
      - sidecars
      - virtualservices
    verbs:
      - create
      - delete
      - get
      - list
      - patch

  # Prometheus monitoring resources
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - podmonitors
      - servicemonitors
      - probes
    verbs:
      - create
      - delete
      - get
      - list
      - patch

  # UDS custom resources
  - apiGroups:
      - uds.dev
    resources:
      - exemptions
      - packages
      - packages/status
      - clusterconfig
      - clusterconfig/status
    verbs:
      - get
      - list
      - patch
      - watch

  # CRD management
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - get
      - list
      - patch

watcher:
  serviceMonitor:
    enabled: ###ZARF_VAR_PEPR_SERVICE_MONITORS###
  env:
    - name: UDS_LOG_LEVEL
      value: ###ZARF_VAR_UDS_LOG_LEVEL###
    - name: PEPR_RECONCILE_STRATEGY
      value: "kindNsName"
    - name: ZARF_REGISTRY_ADDRESS
      value: "###ZARF_REGISTRY###"
    - name: "PINO_TIME_STAMP"
      value: "iso"
    # Default envs from upstream
    - name: "PEPR_PRETTY_LOG"
      value: "false"
    - name: "LOG_LEVEL"
      value: "info"
admission:
  serviceMonitor:
    enabled: ###ZARF_VAR_PEPR_SERVICE_MONITORS###
  env:
    - name: UDS_LOG_LEVEL
      value: ###ZARF_VAR_UDS_LOG_LEVEL###
    - name: PEPR_RECONCILE_STRATEGY
      value: "kindNsName"
    - name: ZARF_REGISTRY_ADDRESS
      value: "###ZARF_REGISTRY###"
    - name: "PINO_TIME_STAMP"
      value: "iso"
    # Default envs from upstream
    - name: "PEPR_PRETTY_LOG"
      value: "false"
    - name: "LOG_LEVEL"
      value: "info"
