# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

watcher:
  serviceMonitor:
    enabled: ###ZARF_VAR_PEPR_SERVICE_MONITORS###
  env:
    - name: UDS_LOG_LEVEL
      value: ###ZARF_VAR_UDS_LOG_LEVEL###
    - name: PEPR_RECONCILE_STRATEGY
      value: "kindNsName"
    - name: ZARF_REGISTRY_ADDRESS
      value: "###ZARF_REGISTRY###"
    - name: "PINO_TIME_STAMP"
      value: "iso"
    # Default envs from upstream
    - name: "PEPR_PRETTY_LOG"
      value: "false"
    - name: "LOG_LEVEL"
      value: "debug"
    - name: "PEPR_RESYNC_FAILURE_MAX"
      value: "20"
    - name: "PEPR_RETRY_DELAY_SECONDS"
      value: "30"
admission:
  serviceMonitor:
    enabled: ###ZARF_VAR_PEPR_SERVICE_MONITORS###
  env:
    - name: UDS_LOG_LEVEL
      value: ###ZARF_VAR_UDS_LOG_LEVEL###
    - name: PEPR_RECONCILE_STRATEGY
      value: "kindNsName"
    - name: ZARF_REGISTRY_ADDRESS
      value: "###ZARF_REGISTRY###"
    - name: "PINO_TIME_STAMP"
      value: "iso"
    # Default envs from upstream
    - name: "PEPR_PRETTY_LOG"
      value: "false"
    - name: "LOG_LEVEL"
      value: "debug"
    - name: "PEPR_RESYNC_FAILURE_MAX"
      value: "20"
    - name: "PEPR_RETRY_DELAY_SECONDS"
      value: "30"
