# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

watcher:
  serviceMonitor:
    enabled: ###ZARF_VAR_PEPR_SERVICE_MONITORS###
  envFrom:
    - secretRef:
        name: uds-operator-config
admission:
  serviceMonitor:
    enabled: ###ZARF_VAR_PEPR_SERVICE_MONITORS###
  envFrom:
    - secretRef:
        name: uds-operator-config
