# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

image:
  repository: cgr.dev/du-uds-defenseunicorns/velero-fips
  tag: 1.16.1-dev

kubectl:
  image:
    repository: cgr.dev/du-uds-defenseunicorns/kubectl-fips
    tag: 1.33.1-dev

initContainers:
  - name: velero-plugin-for-aws
    image: cgr.dev/du-uds-defenseunicorns/velero-plugin-for-aws-fips:1.12.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
  - name: velero-plugin-for-azure
    image: velero/velero-plugin-for-microsoft-azure:v1.12.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
