# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

image:
  repository: quay.io/rfcurated/velero/velero
  tag: 1.17.2-jammy-scratch-fips-rfcurated

initContainers:
  - name: velero-plugin-for-aws
    image: quay.io/rfcurated/velero/velero-plugin-for-aws:1.13.2-jammy-scratch-fips-rfcurated
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
  - name: velero-plugin-for-azure
    image: quay.io/rfcurated/velero/velero-plugin-for-microsoft-azure:1.13.2-jammy-scratch-fips-rfcurated
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
