image:
  repository: velero/velero
  tag: v1.13.2

kubectl:
  image:
    repository: docker.io/bitnami/kubectl
    tag: 1.30.0

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.9.2
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
