image:
  repository: velero/velero
  tag: v1.14.0

kubectl:
  image:
    repository: docker.io/bitnami/kubectl
    tag: 1.31.0

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.10.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
  - name: velero-plugin-for-azure
    image: velero/velero-plugin-for-microsoft-azure:v1.1.0
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
