# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

# Add trust bundle configuration using velero's supported pattern
# Velero is a Go based image and accepts this `/etc/ssl/certs/ca-bundle.pem` path
# based on https://go.dev/src/crypto/x509/root_linux.go
extraVolumes:
  - name: ca-certs
    configMap:
      name: uds-trust-bundle
      optional: true

extraVolumeMounts:
  - name: ca-certs
    mountPath: /etc/ssl/certs/ca-bundle.pem
    subPath: ca-bundle.pem
    readOnly: true

credentials:
  useSecret: true
  name: "velero-bucket-credentials"
  secretContents:
    cloud: |
      [default]
      aws_access_key_id=###ZARF_VAR_VELERO_BUCKET_KEY###
      aws_secret_access_key=###ZARF_VAR_VELERO_BUCKET_KEY_SECRET###
configuration:
  backupStorageLocation:
    - name: default
      provider: aws
      bucket: "###ZARF_VAR_VELERO_BUCKET###"
      config:
        region: "###ZARF_VAR_VELERO_BUCKET_REGION###"
        s3ForcePathStyle: true
        s3Url: "###ZARF_VAR_VELERO_BUCKET_PROVIDER_URL###"
      credential:
        name: "###ZARF_VAR_VELERO_BUCKET_CREDENTIAL_NAME###"
        key: "###ZARF_VAR_VELERO_BUCKET_CREDENTIAL_KEY###"
  # volumeSnapshotLocation:
  #   - name: default
  #     provider: aws
  #     config:
  #       region: "###ZARF_VAR_VELERO_BUCKET_REGION###"
  #       s3ForcePathStyle: true
  #       s3Url: "###ZARF_VAR_VELERO_BUCKET_PROVIDER_URL###"
  #     credential:
  #       name: "velero-bucket-credentials"
  #       key: "cloud"
snapshotsEnabled: false
schedules:
  udsbackup:
    disabled: false
    schedule: "0 3 * * *"
    useOwnerReferencesInBackup: false
    template:
      csiSnapshotTimeout: 0s
      includeClusterResources: true
      snapshotVolumes: false
      excludedNamespaces:
        - kube-system
        - velero
      ttl: "240h"
metrics:
  serviceMonitor:
    enabled: true

upgradeCRDs: false
