# Copyright 2025 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

# Support for custom `network.allow` entries on the Package CR, useful for sending Falco Sidekick alerts to external destinations
additionalNetworkAllow: []
# ref: https://uds.defenseunicorns.com/reference/configuration/custom-resources/packages-v1alpha1-cr/#allow
#   - direction: Egress
#     selector:
#       app.kubernetes.io/name: falcosidekick
#     remoteGenerated: Anywhere
#     description: "from falcosidekick to anywhere"
#     port: 443

# @lulaStart 98dd4970-223e-458d-8b49-7432ace5331d
# Toggle inclusion of Falco's "incubating" ruleset (provide a certain level of robustness guarantee but have been identified by experts as catering to more specific use cases, which may or may not be relevant for each adopter.)
incubatingRulesEnabled: false

# Toggle inclusion of Falco's "sandbox" ruleset (experimental rules)
sandboxRulesEnabled: false

# List of rules to explicitly disable by name
# Example: ["Read environment variable from /proc files"]
disabledRules: []

# Falco rules that are disabled by default in UDS as they tend to generate a lot of noise

# Stable ruleset disabled rules
udsDefaultDisabledRulesStable:
  - "Contact K8S API Server From Container" # This generates noise in UDS Core and is expected behavior

# Incubating ruleset disabled rules
udsDefaultDisabledRulesIncubating:
  - "Change thread namespace" # Ztunnel generates a lot of this noise for this rule
  - "Contact EC2 Instance Metadata Service From Container" # This generates noise in AWS environments where IMDS is used
  - "Contact cloud metadata service from container" # This generates noise in cloud environments where metadata services are used

# Sandbox ruleset disabled rules
udsDefaultDisabledRulesSandbox: []
# @lulaEnd 98dd4970-223e-458d-8b49-7432ace5331d
