# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

apiVersion: uds.dev/v1alpha1
kind: ClusterConfig
metadata:
  name: uds-cluster-config
  labels:
    {{- include "uds-operator-config.labels" . | nindent 4 }}
spec:
  {{- if or .Values.cluster.attributes.clusterName .Values.cluster.attributes.clusterTags }}
  attributes:
    {{- if .Values.cluster.attributes.clusterName }}
    clusterName: {{ .Values.cluster.attributes.clusterName | quote }}
    {{- end }}
    {{- if .Values.cluster.attributes.clusterTags }}
    tags:
      {{- toYaml .Values.cluster.attributes.clusterTags | nindent 6 }}
    {{- end }}
  {{- end }}
  caBundle:
    {{- if or .Values.cluster.caBundle.certs .Values.cluster.expose.caCert }}
    certs: {{ .Values.cluster.caBundle.certs | default .Values.cluster.expose.caCert | quote }}
    {{- end }}
    includeDoDCerts: {{ .Values.cluster.caBundle.includeDoDCerts | default false | toString | eq "true" }}
    includePublicCerts: {{ .Values.cluster.caBundle.includePublicCerts | default false | toString | eq "true" }}
  {{- if or .Values.cluster.networking.kubeApiCIDR .Values.operator.KUBEAPI_CIDR .Values.cluster.networking.kubeNodeCIDRs .Values.operator.KUBENODE_CIDRS }}
  networking:
    {{- if or .Values.cluster.networking.kubeApiCIDR .Values.operator.KUBEAPI_CIDR }}
    kubeApiCIDR: {{ .Values.cluster.networking.kubeApiCIDR | default .Values.operator.KUBEAPI_CIDR | quote }}
    {{- end }}
    {{- if or .Values.cluster.networking.kubeNodeCIDRs .Values.operator.KUBENODE_CIDRS }}
    kubeNodeCIDRs:
    {{- if .Values.cluster.networking.kubeNodeCIDRs }}
      {{- toYaml .Values.cluster.networking.kubeNodeCIDRs | nindent 6 }}
    {{- else if .Values.operator.KUBENODE_CIDRS }}
    {{- range ( split "," .Values.operator.KUBENODE_CIDRS ) }}
      - {{ . | quote }}
    {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
  expose:
    domain: {{ .Values.cluster.expose.domain | quote }}
    {{- if .Values.cluster.expose.adminDomain }}
    adminDomain: {{ .Values.cluster.expose.adminDomain | quote }}
    {{- else }}
    adminDomain: "admin.{{ .Values.cluster.expose.domain }}"
    {{- end }}
    {{- if .Values.cluster.expose.caCert }}
    caCert: {{ .Values.cluster.expose.caCert | quote }}
    {{- end }}
  policy:
    allowAllNsExemptions: {{ .Values.cluster.policy.allowAllNsExemptions }}
