tasks:
  - name: validate
    actions:
      - description: Validate alert manager
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=alertmanager
            namespace: monitoring
            condition: Ready
      - description: Validate prometheus
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=prometheus
            namespace: monitoring
            condition: Ready
      - description: Validate kube-state-metrics
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=kube-state-metrics
            namespace: monitoring
            condition: Ready
