# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

tasks:
  - name: validate
    actions:
      - description: Validate alert manager
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=alertmanager
            namespace: monitoring
            condition: Ready
      - description: Validate prometheus
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=prometheus
            namespace: monitoring
            condition: Ready
      - description: Validate kube-state-metrics
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=kube-state-metrics
            namespace: monitoring
            condition: Ready
      - description: Validate prometheus node exporter
        wait:
          cluster:
            kind: Pod
            name: app.kubernetes.io/name=prometheus-node-exporter
            namespace: monitoring
            condition: Ready
  # Below task can be used to generate CRD types, but is commented out pending resolution of https://github.com/defenseunicorns/kubernetes-fluent-client/issues/374
  # - name: gen-crds
  #   actions:
  #     - description: Generate servicemonitor types
  #       cmd: "npx kubernetes-fluent-client crd https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.79.1/example/prometheus-operator-crd/monitoring.coreos.com_servicemonitors.yaml src/pepr/operator/crd/generated/prometheus"
  #     - description: Generate podmonitor types
  #       cmd: "npx kubernetes-fluent-client crd https://raw.githubusercontent.com/prometheus-operator/prometheus-operator/v0.79.1/example/prometheus-operator-crd/monitoring.coreos.com_podmonitors.yaml src/pepr/operator/crd/generated/prometheus"
  #     - description: Pepr Format
  #       cmd: "npx pepr format"

  - name: e2e-test
    actions:
      - description: "Run Prometheus-Stack E2E tests"
        cmd: |
            npm ci && npx jest --testPathPattern prometheus*
        dir: test/jest
