kind: ZarfPackageConfig
metadata:
  name: uds-core-prometheus-stack
  description: "UDS Core Prometheus-Stack"

components:
  - name: prometheus-operator-crds
    required: true
    description: "Install kube-prometheus-stack operator crds using the helm chart https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-operator-crds"
    charts:
      - name: prometheus-operator-crds
        url: https://prometheus-community.github.io/helm-charts
        version: 9.0.1
        namespace: uds-crds
        valuesFiles:
          - "values/crd-values.yaml"

  - name: kube-prometheus-stack
    required: true
    description: "Install kube-prometheus-stack using the helm chart https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack"
    only:
      flavor: upstream
    import:
      path: common
    charts:
      - name: kube-prometheus-stack
        valuesFiles:
          - "values/upstream-values.yaml"
    images:
      - "quay.io/prometheus/node-exporter:v1.7.0"
      - "quay.io/prometheus-operator/prometheus-operator:v0.71.2"
      - "registry.k8s.io/kube-state-metrics/kube-state-metrics:v2.10.1"
      - "quay.io/prometheus/alertmanager:v0.26.0"
      - "quay.io/prometheus-operator/prometheus-config-reloader:v0.71.2"
      - "quay.io/prometheus/prometheus:v2.49.1"
      - "registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20221220-controller-v1.5.1-58-g787ea74b6"

  - name: kube-prometheus-stack
    required: true
    description: "Install kube-prometheus-stack using the helm chart https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack"
    only:
      flavor: registry1
    import:
      path: common
    charts:
      - name: kube-prometheus-stack
        valuesFiles:
          - "values/registry1-values.yaml"
    images:
      - "registry1.dso.mil/ironbank/opensource/prometheus/node-exporter:v1.7.0"
      - "registry1.dso.mil/ironbank/opensource/prometheus-operator/prometheus-operator:v0.71.2"
      - "registry1.dso.mil/ironbank/opensource/kubernetes/kube-state-metrics:v2.10.1"
      - "registry1.dso.mil/ironbank/opensource/prometheus/alertmanager:v0.26.0"
      - "registry1.dso.mil/ironbank/opensource/prometheus-operator/prometheus-config-reloader:v0.71.2"
      - "registry1.dso.mil/ironbank/opensource/prometheus/prometheus:v2.49.1"
      - "registry1.dso.mil/ironbank/opensource/ingress-nginx/kube-webhook-certgen:v1.3.0"
