# This pod monitor is used instead of a service monitor to handle mTLS with self-monitoring
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: prometheus-pod-monitor
  namespace: monitoring
  annotations:
    uds/skip-mutate: "true"
spec:
  selector:
    matchLabels:
      app: prometheus
  podMetricsEndpoints:
    - port: http-web
    - port: reloader-web
      # Ensure we filter out the init containers
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_container_init]
          regex: "true"
          action: drop
  namespaceSelector:
    matchNames:
      - monitoring
