apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: prometheus-stack
  namespace: {{ .Release.Namespace }}
spec:
  network:
    allow:
      # Permit intra-namespace communication
      - direction: Ingress
        remoteGenerated: IntraNamespace

      - direction: Egress
        remoteGenerated: IntraNamespace

      - direction: Egress
        remoteGenerated: KubeAPI
        selector:
          app: kube-prometheus-stack-operator

      - direction: Egress
        remoteGenerated: KubeAPI
        selector:
          app.kubernetes.io/name: kube-state-metrics

      - direction: Egress
        remoteGenerated: KubeAPI
        selector:
          app: kube-prometheus-stack-admission-create

      - direction: Egress
        remoteGenerated: KubeAPI
        selector:
          app: kube-prometheus-stack-admission-patch

      - direction: Ingress
        # todo: evaluate a "KubeAPI" _ingress_ generated rule for webhook calls
        remoteGenerated: Anywhere
        selector:
          app: kube-prometheus-stack-operator
        port: 10250
        description: "Webhook"

      # todo: lockdown egress to scrape targets
      - direction: Egress
        remoteNamespace: ""
        selector:
          app.kubernetes.io/name: prometheus
        description: "Metrics Scraping"

      - direction: Ingress
        remoteNamespace: grafana
        remoteSelector:
          app.kubernetes.io/name: grafana
        selector:
          app.kubernetes.io/name: prometheus
        port: 9090
        description: "Grafana Metrics Queries"

      - direction: Egress
        remoteNamespace: tempo
        remoteSelector:
          app.kubernetes.io/name: tempo
        port: 9411
        description: "Tempo"
