# Generate certs missing from unicorn images
autoGenerateCert: true

registry: cgr.dev
# renovate: datasource=docker depName=cgr.dev/du-uds-defenseunicorns/neuvector-controller-fips versioning=docker
tag: "5.3.4"
manager:
  image:
    repository: du-uds-defenseunicorns/neuvector-manager

enforcer:
  image:
    repository: du-uds-defenseunicorns/neuvector-enforcer-fips
  containerSecurityContext:
    privileged: true
  internal:
    certificate:
      secret: neuvector-internal-cert

controller:
  image:
    repository: du-uds-defenseunicorns/neuvector-controller-fips
  internal:
    certificate:
      secret: neuvector-internal-cert

cve:
  scanner:
    internal:
      certificate:
        secret: neuvector-internal-cert
    image:
      registry: docker.io
      repository: neuvector/scanner
      tag: latest
  updater:
    enabled: true
    image:
      repository: du-uds-defenseunicorns/neuvector-updater-fips
      # renovate: datasource=docker depName=cgr.dev/du-uds-defenseunicorns/neuvector-updater-fips versioning=docker
      tag: 8.10.1-dev
