# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

registry: docker.io
# renovate: datasource=docker depName=docker.io/neuvector/controller versioning=docker
tag: "5.4.6"
manager:
  image:
    repository: neuvector/manager
enforcer:
  image:
    repository: neuvector/enforcer

controller:
  image:
    repository: neuvector/controller

cve:
  scanner:
    image:
      repository: neuvector/scanner
      tag: latest

  updater:
    enabled: true
    image:
      repository: neuvector/updater
      tag: latest
