leastPrivilege: true
autoGenerateCert: false
rbac: true
manager:
  env:
    ssl: false
  svc:
    type: ClusterIP

controller:
  apisvc:
    type: ClusterIP
  configmap:
    enabled: true
    data:
      sysinitcfg.yaml: |
        always_reload: true
        no_telemetry_report: true
        scan_config:
          auto_scan: true
        mode_auto_d2m: true
        mode_auto_d2m_duration: 129600
  secret:
    enabled: false
  env:
    - name: NO_DEFAULT_ADMIN
      value: "1"

cve:
  updater:
    enabled: true

crdwebhook:
  enabled: false
  type: ClusterIP
