# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

includes:
  - common-setup: https://raw.githubusercontent.com/defenseunicorns/uds-common/v1.20.5/tasks/setup.yaml

tasks:
  - name: validate
    actions:
      - description: Validate grafana is up
        wait:
          cluster:
            kind: Pod
            name: "app.kubernetes.io/instance=grafana"
            namespace: grafana
            condition: Ready
      - description: Validate grafana virtual service
        cmd: |
          if [ "$(curl -isS https://grafana.admin.uds.dev --output /dev/null -w '%{http_code}')" = "302" ]; then
            echo "Grafana is up and running."
          else
            echo "ERROR: Grafana returned a $(curl -isS https://grafana.admin.uds.dev --output /dev/null -w '%{http_code}') code."
            exit 1
          fi

          if curl -L -isS https://grafana.admin.uds.dev --output /dev/null -w '%{url_effective}' | grep "sso.uds.dev" 2>&1 1>/dev/null; then
            echo "Grafana is redirecting to SSO as expected."
          else
            echo "ERROR: Grafana is redirecting to $(curl -L -isS https://grafana.admin.uds.dev --output /dev/null -w '%{url_effective}')."
            exit 1
          fi

  - name: e2e-test
    actions:
      - description: "e2e-test"
        cmd: echo "[STUB] grafana e2e"
