# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

kind: ZarfPackageConfig
metadata:
  name: uds-core-prometheus-stack-common
  description: "UDS Core Prometheus-Stack Common"

components:
  - name: kube-prometheus-stack
    required: true
    description: "Install kube-prometheus-stack using the helm chart https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack"
    charts:
      - name: uds-prometheus-config
        namespace: monitoring
        version: 0.1.0
        localPath: ../chart
      # @lulaStart 4yw40198-a55e-4769-a5de-44ffe7636093
      - name: kube-prometheus-stack
        namespace: monitoring
      # @lulaEnd 4yw40198-a55e-4769-a5de-44ffe7636093
        url: https://prometheus-community.github.io/helm-charts
        version: 81.2.2
        valuesFiles:
          - "../values/kube-prometheus-stack-values.yaml"
  - name: prometheus-blackbox-exporter
    required: false
    description: "UDS Core Prometheus Blackbox Exporter"
    charts:
      - name: prometheus-blackbox-exporter
        namespace: monitoring
        url: https://prometheus-community.github.io/helm-charts
        version: 11.7.0
        valuesFiles:
          - "../values/blackbox-exporter-values.yaml"
