# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

kind: ZarfPackageConfig
metadata:
  name: uds-core-prometheus-stack-common
  description: "UDS Core Prometheus-Stack Common"

components:
  - name: kube-prometheus-stack
    required: true
    description: "Install kube-prometheus-stack using the helm chart https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack"
    charts:
      - name: uds-prometheus-config
        namespace: monitoring
        version: 0.1.0
        localPath: ../chart
      # @lulaStart 4yw40198-a55e-4769-a5de-44ffe7636093
      # @lulaStart eff0012d-fdc2-4085-b014-b845f2ae38e0
      - name: kube-prometheus-stack
        namespace: monitoring
      # @lulaEnd eff0012d-fdc2-4085-b014-b845f2ae38e0
      # @lulaEnd 4yw40198-a55e-4769-a5de-44ffe7636093
        url: https://prometheus-community.github.io/helm-charts
        version: 79.5.0
        valuesFiles:
          - "../values/values.yaml"
