[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = admin.uds.dev

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = admin.uds.dev
DNS.2 = *.admin.uds.dev
DNS.6 = uds.dev
DNS.7 = *.uds.dev
