# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Patch Release UDS Core

permissions:
  contents: read
  packages: read
  id-token: write

on:
  push:
    branches:
      - "release/**"

jobs:
  tag-new-version:
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
      releases_created: ${{ steps.tag.outputs.releases_created }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Configure release-please for patch releases
        shell: bash
        run: jq '.packages["."] |= (.versioning = "always-bump-patch" | .["skip-changelog"] = true)' release-please-config.json > release-please-config.patch.json

      - name: Create release tag
        id: tag
        uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4.4.0
        with:
          target-branch: ${{ github.ref_name }}
          config-file: release-please-config.patch.json

      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-uds-core-release:
    needs: tag-new-version
    if: ${{ needs.tag-new-version.outputs.release_created == 'true'}}
    permissions:
      contents: write
      packages: write
      id-token: write
    uses: ./.github/workflows/publish.yaml
    with:
      snapshot: false
    secrets: inherit

  checkpoint-uds-core-release:
    needs: publish-uds-core-release
    permissions:
      contents: read
      packages: write
      id-token: write
      pull-requests: write
    uses: ./.github/workflows/checkpoint.yaml
    secrets: inherit
