# Copyright 2025 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Scripts Tests

# Permissions for the GITHUB_TOKEN used by the workflow.
permissions:
  contents: read # Allows reading the content of the repository.

on:
  pull_request:
    paths:
      - "scripts/renovate/**"
      - "scripts/root-ca-retriever/**"

jobs:
  test:
    name: ${{ matrix.script-dir }} Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        script-dir: [renovate, root-ca-retriever]

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0

      - name: Install dependencies
        working-directory: scripts/${{ matrix.script-dir }}
        run: npm ci

      - name: Run tests
        working-directory: scripts/${{ matrix.script-dir }}
        run: npm run test
