# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Release UDS Core

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  tag-new-version:
    permissions: write-all
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - name: Create release tag
        id: tag
        uses: googleapis/release-please-action@7987652d64b4581673a76e33ad5e98e3dd56832f # v4.1.3
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT

  publish-uds-core-release:
    needs: tag-new-version
    if: ${{ needs.tag-new-version.outputs.release_created == 'true'}}
    permissions:
      contents: write
      packages: write
      id-token: write
    uses: ./.github/workflows/publish.yaml
    with:
      snapshot: false
    secrets: inherit

  checkpoint-uds-core-release:
    needs: publish-uds-core-release
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: ./.github/workflows/checkpoint.yaml
    secrets: inherit
