# Copyright 2025 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

variables:
  core:
    # CA_CERTS
    CA_BUNDLE_CERTS: "PLACEHOLDER_CA_BUNDLE_CERTS"
    CA_BUNDLE_INCLUDE_DOD_CERTS: "true"
    CA_BUNDLE_INCLUDE_PUBLIC_CERTS: "true"

    # Admin Gateway TLS certificate and key
    ADMIN_TLS_CERT: "PLACEHOLDER_ADMIN_TLS_CERT"
    ADMIN_TLS_KEY: "PLACEHOLDER_ADMIN_TLS_KEY"

    # Tenant Gateway TLS certificate and key
    TENANT_TLS_CERT: "PLACEHOLDER_TENANT_TLS_CERT"
    TENANT_TLS_KEY: "PLACEHOLDER_TENANT_TLS_KEY"
