{{- if .Values.scalable }}
apiVersion: "security.istio.io/v1beta1"
kind: PeerAuthentication
metadata:
  name: loki-simple-scalable
  namespace: {{ .Release.Namespace }}
spec:
  mtls:
    mode: STRICT
  selector:
    matchLabels:
      app.kubernetes.io/name: loki
  portLevelMtls:
    # GRPC exception to support Loki internal communication
    "9095":
      mode: PERMISSIVE
{{- end }}
